@import './nord.css';

* {
  all: unset;
  font-size: 1rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable {
  border-radius: 8px;
  border: 1px solid alpha(@nord1, 0.5);
  margin: 4px 0;
  padding: 4px;
  transition: 100ms ease-out;
}
#match.activatable:first-child {
  margin-top: 12px;
}
#match.activatable:last-child {
  margin-bottom: 0;
}

#match:hover {
  background: alpha(@nord2, 0.8);
}
#match:selected {
  background: alpha(@nord7, 0.7);
  border: 1px solid rgba(63, 105, 104, 0.7);
}

#entry {
  background: alpha(@nord1, 0.8);
  border: 2px solid @nord3;
  border-radius: 8px;
  padding: 4px 8px;
}

box#main {
  border-radius: 8px;
  border: 2px solid @nord3;
  padding: 12px;
  background: alpha(@nord0, 0.8);
}
